{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% trans 'Password reset confirmation' %}{% endblock %}

{% block content %}

{% for field in form %}
    {% if field.errors %}
        {% for error in field.errors %}
            <div class="alert alert-danger" role="alert">{{ error }}</div>
        {% endfor %}
    {% endif %}
{% endfor %}

{% if user.is_authenticated %}
    <div class="alert alert-warning" role="alert">{% trans "You are already logged in." %}</div>
{% else %}
    {% if validlink %}
    <div class="registration-form">

        <h1 class="h3 mb-3 text-center">{% trans 'Password reset confirmation' %}</h1>

        <div class="alert alert-info" role="alert">
            {% trans 'Please enter your new password twice so we can verify you typed it in correctly.' %}
        </div>

        <form method="post">

            {% csrf_token %}
            <label for="{{ form.new_password1.id_for_label }}" class="visually-hidden">{{ form.new_password1.label }}</label>
            <input type="password" id="{{ form.new_password1.id_for_label }}" name="{{ form.new_password1.html_name }}" class="form-control" placeholder="{{ form.new_password1.label }}" required autofocus>

            <label for="{{ form.new_password2.id_for_label }}" class="visually-hidden">{{ form.new_password2.label }}</label>
            <input type="password" id="{{ form.new_password2.id_for_label }}" name="{{ form.new_password2.html_name }}" class="form-control" placeholder="{{ form.new_password2.label }}" required autofocus>

            <button class="w-100 btn btn-md btn-main-color" type="submit">{% trans 'Change my password' %}</button>
         </form>
    </div>
    {% else %}
        <div class="alert alert-warning" role="alert">{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</div>
    {% endif %}
{% endif %}
{% endblock %}