{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% trans 'Password reset' %}{% endblock %}

{% block content %}

{% for field in form %}
    {% if field.errors %}
        {% for error in field.errors %}
            <div class="alert alert-danger" role="alert">{{ error }}</div>
        {% endfor %}
    {% endif %}
{% endfor %}

{% if user.is_authenticated %}
    <div class="alert alert-warning" role="alert">{% trans "You are already logged in." %}</div>
{% else %}
    <div class="registration-form">

        <h1 class="h3 mb-3 text-center">{% trans 'Password reset' %}</h1>

        <div class="alert alert-info" role="alert">
            {% trans 'Your password has been set.  You may go ahead and log in now.' %}
        </div>

        <a href="{% url 'login' %}">
            <div class="w-100 btn btn-md btn-main-color text-center">{% trans 'Log in' %}</div>
        </a>
    </div>
{% endif %}
{% endblock %}