{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% trans 'Password reset' %}{% endblock %}

{% block content %}

{% for field in form %}
    {% if field.errors %}
        {% for error in field.errors %}
            <div class="alert alert-danger" role="alert">{{ error }}</div>
        {% endfor %}
    {% endif %}
{% endfor %}

{% if user.is_authenticated %}
    <div class="alert alert-warning" role="alert">{% trans "You are already logged in." %}</div>
{% else %}
    <div class="registration-form">

        <h1 class="h3 mb-3 text-center">{% trans 'Password reset' %}</h1>

        <div class="alert alert-info" role="alert">
            {% trans 'We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.' %}
        </div>

        <div class="alert alert-warning" role="alert">
            {% trans 'If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.' %}
        </div>

    </div>
{% endif %}
{% endblock %}