{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% trans 'Password change' %}{% endblock %}

{% block content %}

{% for field in form %}
    {% if field.errors %}
        {% for error in field.errors %}
            <div class="alert alert-danger" role="alert">{{ error }}</div>
        {% endfor %}
    {% endif %}
{% endfor %}

{% if not user.is_authenticated %}
    <div class="alert alert-warning" role="alert">{% trans "You are not logged in." %}</div>
{% else %}
    <div class="registration-form">

        <h1 class="h3 mb-3 text-center">{% trans 'Password change' %}</h1>

        <div class="alert alert-info" role="alert">
            {% trans 'Your password was changed.' %}
        </div>

    </div>
{% endif %}
{% endblock %}